body{
    font-family: sans-serif;
}
.nav{
    column-count: 2;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}
.navRight{
    float: right;
    padding: 10px;
}
table{
    width: 100%;
}