body{
    font-family: sans-serif;
}
.Spread{
    padding-right: 8px;
    padding-left: 8px;
}
.but{
    background-color:#4285f4;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 6px;
    font-weight: bolder;
    border:0;
    margin-right: 20px;
}
.strip{
    text-decoration:none;
    color:black;
}
@media only screen and (min-width: 650px) {
    .big{
        font-size: 175px;
        font-family:Product Sans;
        column-count: 1;
        text-align: center;
    }
    .Nav{
        column-count: 2;
        margin: 14px;
    }
}
@media only screen and (max-width: 649px) {
    .smol{
        font-size: 125px;
        font-family:Product Sans;
        column-count: 1;
        text-align: center;
    }
    .NavSm{
        margin: 14px;
        display:flex;
        column-count: 2px;
    }
}


