body{
    font-family: sans-serif;
}
.Spread{
    padding-right: 8px;
    padding-left: 8px;
}
.but{
    background-color:#4285f4;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 6px;
    font-weight: bolder;
    border:0;
    margin-right: 20px;
}
.strip{
    text-decoration:none;
    color:black;
}
@media only screen and (min-width: 700px) {
    .big{
        padding-top:75px;
        font-size: 150px;
        font-family:Product Sans;
        column-count: 1;
        text-align: center;
    }
    .Nav{
        column-count: 2;
        margin: 14px;
    }
    .Fot{
        column-count: 2;
        white-space: nowrap;
    }
    .right{
        float:right;
    }
}
@media only screen and (max-width: 699px) {
    .smol{
        font-size: 75px;
        font-family:Product Sans;
        column-count: 1;
        text-align: center;
        padding-top: 75px;
    }
    .NavSm{
        margin: 14px;
        column-count: 2;
        white-space: nowrap;

    }
    .FotSm{
        column-count: 2;
        flex-wrap: wrap;
        display:flex;
        justify-content: space-between;
        text-align: center;
        display: inline;
    }
}
.search{
    text-align: center;
    margin-top: 50px;
}
.foot{
    position:fixed;
    bottom:0;
    background-color:#e2e2e2;
    width:100%;
    padding:10px;
}


