body{
    font-family: sans-serif;
    max-width: 100%;
}
.nav{
    column-count: 2;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
}
.navRight{
    float: right;
    padding: 10px;
}
table{
    max-width: 80%;
    border:10px;
    text-align: left;
    border-spacing: 50px 0;
    
}
thead{
    white-space: nowrap;
}
table tbody{
    font-size: 13px;
}
td {
    padding: 10px 0;
    padding-left: 20px;
  }
@media only screen and (max-width: 1000px) {
    .dis{
        display: none;
        font-size: x-small;
    }
    .back{
        display: none;
        font-weight: lighter;
    }
}
input{
    border-width: 1px;
    border-color: #e2e2e2;
    width: 40vw;
    margin: 10px;
}
.advance{
    background-color:#4285f4;
    color:white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 14px;
    border:0;
    margin-right: 20px;
}